.portafolio{
    display: flex;
    padding: 10px;
    display: none;
    
}

.portafolio h3{
    position: absolute;
    margin: 0 15px;
    color: orangered;
}
.portafolio h5, h6{
    color: Orangered;
    position: relative;
    text-align: center;
}
.portafolio button{
    background: orangered;
    border: none;
    border-right: 2px solid blue;
    padding: 5px;
    margin: 30px 3px;
    border-radius: 5px;
    animation: porta 2s ease;
    position: relative;
    color: white;
    left: 10%;
    }
.portafolio button:hover{
    background: black;
    color: #eaeaff;
    
}
@keyframes porta {
    0%{
        transform: translateX(400px);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.box-uno,
.box-dos,
.box-tres,
.box-cuatro{
    width: 90%;
    left: 5%;
    height: auto;
    background: orangered;
    margin: 30px 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 50px;
    border-radius: 10px;
}

.box-uno .dos-hijos,
.box-dos .dos-hijos,
.box-tres .dos-hijos,
.box-cuatro .dos-hijos{
    width: 100px;
    height: 100px;
    background: white;
    position: relative;
    box-sizing: border-box;
    animation: fadeOut 2s forwards;
    margin: 40px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    overflow: hildden;
    white-space:wrap;
}
.box-uno .dos-hijos{
    display:none;
}
.box-uno .dos-hijos:hover{
    width: 200px;
    height: 200px;
    background: ;
    position: relative;  
}
.box-dos img{
    width: 100%;
    height: auto;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}
.box-dos .dos-hijos{
    animation: boxdos 3s ease;
    filter: drop-shadow(-10px -10px 5px black);
    border-radius: 10px;
   }
.box-dos .dos-hijos:hover{
    width: 200px;
    height: 200px;
    background: black;
    filter: drop-shadow(-10px -10px 30px white);
}
.box-tres .dos-hijos{
    animation: boxtres 2s ease;
    
}
.box-tres h1{
    position: relative;
    top: -20px;
}
.box-tres img{
 position: absolute;
   width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity:0.1;
}
.box-tres:hover img{
     opacity:1;
    
}
.box-tres .dos-hijos:hover h6{
    filter: drop-shadow( 0 3px 5px black);
    
    
}
.box-tres .dos-hijos:hover{
    background: white;
    filter: drop-shadow(-10px 10px 0 black);
     
}
.box-cuatro .dos-hijos{
    animation: boxcuatro 3s ease;
}
@keyframes boxcuatro {
    0%{
      transform: translateY(-400px);
      opacity: 1;
      background: orangered;
      border-radius: 50px;
      }
      50%{
          background: black;
      }
      100%{
          transform: skew(-10deg, -20deg);
          opacity: 1;
      }
}
@keyframes boxtres {
    0%{
        transform: translateY(400px);
        opacity: 0.5;
    }
    100%{
         transform: skew(10deg, 20deg);
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 0.5;
        transform: translateX(300px);
        
    }
    
    100%{
        opacity: 1;
        transform: scale(1.3);
    }
}


@keyframes boxdos {
    0%{
        opacity: 0.5;
        transform: translateX(-300px);
    }
    100%{
        opacity: 1;
        transform: skew(-30deg);
    }
}

.container-boton-p{
    position: absolute;
    width: 100%;
    height: auto;
    background: #ffffffa8;
    transform: translate(-50%,-50%);
    left:50%;
    top: 30%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 3px 3px orangered;
}

.container-boton-p a{
    background: none;
    position: relative;
    
}
.container-boton-p a button{
    position: relative;
    top:0;
    left:0;
    cursor:pointer;
    background: yellow;
    filter:drop-shadow(0 0 5px orangered);
    color: black;
    animation: animatebu 5s linear infinite;
}
@keyframes animatebu{
    from{
       transform: scale(0.5);
    }
    to{
      transform: scale(1.1);  
    }
    
}
.container-boton-p a button:hover{
    background: orangered;
    color: white;
}
.box-uno{
    display: flex;
    
}

.box-dos{
    display: none;
}
.box-tres{
    display: none;
}
.box-cuatro{
    display: none;
}
